.downb {
	position:fixed;
	margin:0 auto;
	top:10px;
	right:10px;
}
.downb2 {
	position:fixed;
	margin:0 auto;
	top:10px;
	left:10px;
}
.downb a, .downb2 a {
	position:relative;
	display:block;
	width:80px;
	height:80px;
	border-radius:50%;
	background: rgba(33,33,33,0.7);
	text-align:center;
	margin:0 auto;
	font-size:0;
	-webkit-transition:all .5s;
	-o-transition:all .5s;
	-moz-transition:all .5s;
	transition:all .5s;
}
.downb a img, .downb2 a img {
	padding:15px;
}
.downb a:hover, .downb2 a:hover {
	transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
}
.header {
	min-height: 50vh;
	/*width:100%;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color:#212121;
	background-position:center center;
	background-size:cover;
}
#header_top {
	top: 0px;
}
#header_text {
	margin:0 auto;
	padding:1px;
	position:relative;
	color:#212121;
	background-color:rgb(225,225,225);
	text-align:center;
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
	top:0px;
	width:70%;
	border-radius:10vh;
}
#header_text:hover {
	color:rgb(225,225,225);
	background-color:#212121;
	top:-1vh;
}
#header_text h1 {
	font-size:6vh;
	font-family:Quicksand,cursive,sans-serif;
}
#header_text h2 {
	font-size:3.5vh;
	font-family:Quicksand,cursive,sans-serif;
}
.main {
	width:100%;
	font-family:Raleway,sans-serif;
	/*background-color:#8968CD; #f09*/
	background: linear-gradient(-45deg, rgb(225,225,225), #F09, #8968CD);
	background-position:center center;
	background-size:cover;
}
summary {
	font-size: 20px;
}
#main_text {
	opacity:0.4;
	background:rgb(225,225,225);
	text-align:center;
	margin:0 auto;
    color:grey;
	padding:20px;
	top:75px;
	width:56%;
	border-radius:25px;
	position:relative;
	box-shadow:6px 9px 2px rgba(0,0,0,0.2);
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
}
#main_text::after {
	content:'';
	position:absolute;
	bottom:-39px;
	width:1px;
	height:0;
	border-width:20px;
	border-style:solid;
	border-color:rgb(225,225,225) transparent transparent;
}
#main_text:hover {
	font-size:20px;
	font-weight:100;
	color:#212121;
	opacity:1;
	width:66%;
}
#main_text2 {
	opacity:0.4;
	background:rgb(225,225,225);
	text-align:center;
	margin:75px auto;
    color:rgb(225,225,225);
	padding:20px;
	top:75px;
	width:56%;
	border-radius:25px;
	position:relative;
	box-shadow:6px 9px 2px rgba(0,0,0,0.2);
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
}
#main_text2::after {
	content:'';
	position:absolute;
	bottom:-39px;
	width:1px;
	height:0;
	border-width:20px;
	border-style:solid;
	border-color:rgb(225,225,225) transparent transparent;
}
#main_text2:hover {
	font-size:20px;
	font-weight:100;
	color:#212121;
	opacity:1;
	width:66%;
}
#main_text2 a {
	opacity:0.4;
    color:rgb(225,225,225);
    width:56%;
    -webkit-transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
}
#main_text2:hover a {
	font-size:20px;
	font-weight:100;
	color:#212121;
	opacity:1;
	width:66%;
}
#bottom {
	top:75px;
	bottom:0px;
	width:100%;
	text-align:center;
	color:rgb(225,225,225);
	background:#212121;
	background-size:cover;
	position:relative;
	padding-bottom:2px;
	padding-top:15px;
	margin-top:75px;
}
#bottom p {
	margin-left: 20px;
	margin-right: 20px;
}
#bottom img {
	width:100%;
	max-width:320px;
	overflow:hidden;
}
